body{
    background-color: #eeeeee;
    display: flex;
}

body div{
    flex-grow: 1;
    background-color: #ffffff;
    margin: 8px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 12px;
    border-bottom: solid 3px rgb(21, 129, 172);
}

ul{
    list-style: none;
}

.selected{
    background-color: rgb(21, 129, 172);
}

#meals-list{
    cursor: pointer;
    font-size: 18px;
}
    #meals-list li:hover{
        background-color: #eee;
    }

.button{
    background-color: rgb(21, 129, 172);
    border: solid 0px;
    color: #eeeeee;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 15px;
    margin-left: 38px;
}

.button:disabled{
    background-color: #ccc;
}
.button:hover{
    background-color: rgb(12, 81, 109);
}